{% extends 'base.html copy.twig' %}

{% block title %}Modification d'une annonce{% endblock %}
{% block body %}
	<div class="row">
		{% block sidebar %}
			<div class="col-4 sideBar">
				{{parent()}}
			</div>
		{% endblock %}
		{% block main %}
			<div class="col-8 main">
				<h4>Modification de l'annonce</h4>
				{{ include('conferences/partials/formulaire.html.twig') }}
			</div>
		{% endblock %}
	</div>
	{% block footer %}{% endblock %}
{% endblock %}
