{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello</h1>
    {%for categorie in categories %}
    <a href="{{ url('categorie.details',{'id':categorie.id})}}">{{categorie.nom}}</a>
{%endfor%}
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/Applications/MAMP/htdocs/greta_symfony/src/Controller/CategorieController.php</code></li>
        <li>Your template at <code>/Applications/MAMP/htdocs/greta_symfony/templates/categorie/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
